@tailwind base;
@tailwind components;
@tailwind utilities;

.heading{
    display: flex;
    justify-content: space-between;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.list{
    margin: 20px;
    list-style: none;
}